<script src='https://www.google.com/recaptcha/api.js'></script>

<% content_for :title do %>
    <%= @post.title %> - Qlog
<% end %>

<div id='div-detail-post' class="main-content clearfix no-padding-sm-size">
    
    <div class="image-header">
        <%= image_tag "header.jpg", width: '100%' %>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 no-padding-sm-size">
        <h4><b><%= @post.title %></b></h4>
        <div class="margin10 clearfix">
            <div class="div-inline col-sm-6">
                <% @posts_tags.each do |item| %>
                
                    <div class="tags-post">
                        <div class="sub-tag">
                            <div class="head-tag">
                                            
                            </div>
                            <span class="content-tag">
                                <%= item.tag.name_tag %> 
                            </span>
                        </div>
                    </div>
                    &nbsp;
                <% end %>
            </div>
            <div id='div-create-at' class='div-inline col-sm-6 text-right created-at'>
                <i class='fa fa-clock-o'></i>&nbsp;&nbsp;
                &nbsp;&nbsp;<%= @post.created_at.strftime('%B %d %Y') %>

            </div>  
        </div>
        
        <div id='full-post-content' class="">
            <%= sanitize @post.content %>
        </div>

        <div id='share-tool' class="text-right"></div>

<!--         <div id='list-cmts'>
            <div class="card-panel">
                <div id='wrap-cmt'>
                    <div id='list-detail-cmts'>
                        <script type="text/javascript">
                            <% @comments.each_with_index do |cmt, index| %>
                                addCmtToUI("<%=h cmt.id %>", "<%= cmt.author %>", "<%= h(cmt.content).gsub(/\n/, '<br>').html_safe %>", "<%= cmt.avatar %>", "<%= cmt.parent_comment_id %>", "<%= cmt.format_create_at %>", <%= index %>);
                            <% end %>
                        </script>
                    </div>   
                    <div id='collapse' class="text-center">
                        <span class='cursor-pointer' onclick="showMoreCmt()">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;
                            Load more    
                        </span>
                        
                    </div> 
                </div>
                
                <div id='loading-cmts' class="text-center " style="display: none;">
                    <div class="preloader-wrapper small active text-center">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class='comment clearfix'>
                    <div class="">
                        <span id='anchor-editor'></span>
                        <div class="cmt-info" style='margin-left: 0px;'>
                            <div class="author-cmt">
                                <div id='login-google' class="col-md-6 nopadding">
                                    <%= image_tag "google.png", class: "icon-social-login img-rounded", title: "Login with Google+ Account", id: 'icon-login-google', onclick: "clkLoginBtn()" %>
                                </div>
                               
                            </div>
                            <div class="content-cmt">
                                <input type='hidden' id='parent-cmt' name='parent_cmt' value='' />
                                <input type='hidden' id='post_id' value='<%= @post.id %>' />
                                <input type='hidden' id='report_cmt_id' value='' />

                                <textarea id='txt-editor-cmt' style="min-height: 200px;" placeholder='Login with Facebook or Google+ to join discuss ...'></textarea>
                                <button id='sub-cmt' class="btn" onclick='submitNewCmt()'>
                                    <i class='fa fa-send'></i>&nbsp;&nbsp;
                                    Submit
                                </button>
                                &nbsp;&nbsp;
                                <span id='context-commenting' class='dark-color'><i id='content-ctx'></i>&nbsp;&nbsp;<i class='fa fa-times cursor-pointer' onclick='hideContextCommenting()'></i></span>
                                

                                <div class="g-recaptcha" data-sitekey="6Le5QQoTAAAAAPmwMlG6N3uxw52OD-U9KnNtocOm"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <div class="">
        <div id="disqus_thread"></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */

        var disqus_config = function () {
        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//qlogror.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


    </div>
</div>


    

<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 no-padding-sm-size">
    <div id="owl-example" class="owl-carousel">
        <% @related_post.each do |item| %>
            <div class="card">
                <div class="card-image">
                    <%= image_tag "python.png" %>
                    <span class="card-title"><%= item.title %></span>
                </div>
                <div class="card-content">
                </div>
            </div>



        <% end %>
    </div>
</div>

</div>
<!-- # raw(disqus_thread) -->








<%= content_for :col_2_footer do %>
            <% @tags.each do |item| %>
                <a href="/post/tag/<%= item.id %>">
                <div class="tags-post">
                    <div class="sub-tag">
                        <div class="head-tag">
                                        
                        </div>
                        <span class="content-tag">
                            <%= item.name_tag %> (<%= item.posts_tag.size %>)
                        </span>
                    </div>
                </div>
                </a>
            <% end %>    
            <span>...</span>
            <div class="margintop-10 text-right">
                <a href="">View all Tags</a>
            </div>
<% end %>

<!-- Modal Structure -->
<div id="modal-report" class="modal">
    <div class="modal-content">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;
        Are you sure report this comment ?
    </div>
    <div class="modal-footer">
        <a href="#!" onclick="reportCmt()" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
          



    <script type='text/javascript'>
        


        $(document).ready(function() {

            // Check status login 
            current_username = JSON.parse(localStorage.getItem("gitkit::currentAccount"));
            console.log(current_username);
            if(current_username !== null) {
                $('#icon-login-google').hide();
            } else {
                $("#sub-cmt").hide();
            }
            
            // Active Share Plugin  (jsSocials)
            $("#share-tool").jsSocials({
                shares: [ "facebook", "googleplus", "linkedin", "twitter"]
            });

            if(<%= @comments.size %> == 0) {
                $('#collapse').hide();
            }

            // window.google.identitytoolkit.signInButton(
            //     '#login-google', // accepts any CSS selector
            //     {
            //         widgetUrl: "http://localhost:3000/signin.html?signInSuccessUrl=" +  encodeURIComponent(window.location.href) + "&mode=select" ,
            //         signOutUrl: window.location.href,
            //     }
            // );


            $("#owl-example").owlCarousel({
                items: 3
            });


        })
    </script>