<% content_for :title do %>
    <%= @category.category %> - Qlog
<% end %>

<div class="main-content clearfix no-padding-sm-size">
    <div class="image-header">
        <%= image_tag "header.jpg", width: '100%' %>
    </div>


    <!-- column 1 -->
    <div class='col-md-8 col-sm-12 col-xs-12 no-padding-sm-size'>
        <h3 class="col-md-10 no-padding-sm-size">Have <%= @number_posts %> posts in "<%= @category.category %>"   </h3>
        <div id='header-info' class='col-md-2 no-padding-sm-size'>
            <div id='option-sort'>
                <div class="input-field col s12">
                    <select>
                        <option value="1">Newest</option>
                        <option value="2">Top Views</option>
                    </select>
                </div>
            </div>
        </div>
        <div id='list-post'>
            <% @posts.each do |post| %>

                <div id='<%= post.id %>' class="card-panel clearfix">
                    <div class="avatar-post">
                        
                    </div>
                    <div class="post-info">
                        <div class="title-post">
                            <a href="/post/detail/<%= post.id %>"><%= post.title %>   </a>
                              
                        </div>
                        <div class="created-at">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;30th December, 2015
                        </div>
                        <div class="content-post">
                            <%= post.content %>
                        </div>
                        <div class="tags-post">
                            <% post.tags.each do |tag| %>
                                <div class="sub-tag">
                                    <div class="head-tag">
                                        
                                    </div>
                                    <span class="content-tag">
                                        <%= tag.name_tag %>
                                    </span>
                                </div>
                            <% end %>
                        </div>
                               
                    </div>
                </div>
                
            <% end %>
        </div>

        <div id='load-more' class="text-center">
            <button id='btn-load-more' class="btn" onclick='getListPost()'><span class='glyphicon glyphicon-plus'></span>&nbsp;&nbsp;Load more</button>
        </div>
    </div>

    <!-- column 2-->
    <div class="col-md-4 col-sm-12 col-xs-12 no-padding-sm-size">
        <h3>&nbsp;</h3>
        <div class="card-panel">
            <% @tags.each do |item| %>
            
                <div class="tags-post">
                    <div class="sub-tag">
                        <div class="head-tag">
                                        
                        </div>
                        <span class="content-tag">
                            <%= item.name_tag %> (<%= item.posts_tag.size %>)
                        </span>
                    </div>
                </div>
            <% end %>    
            <span>...</span>
            <div class="margintop-10 text-right">
                <a href="">View all Tags</a>
            </div>
        </div>
        
    </div>

</div>

