<% content_for :title do %>
    Qlog
<% end %>

<div class="main-content clearfix no-padding-sm-size">
    <div class="image-header">
        <!-- <%= image_tag "header.jpg", width: '100%' %> -->

         <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://adicts.wapsite.me/1con/header/header_1.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://socialfulcrum.com/wp-content/themes/venture/data1/images/NYC-Header-Optimized.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://static.tumblr.com/700d1715af374c62cbef381bf5cf9719/wixswaj/Sx0mwgpuo/tumblr_static_img_4470_-_header-tumblr.JPG"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>



    </div>


    <!-- column 1 -->
    <div class='col-md-8 col-sm-12 col-xs-12 no-padding-sm-size'>
        <h4 class="col-md-10 no-padding-sm-size"><%= @title %></h4>
        <div id='header-info' class='col-md-2 no-padding-sm-size'>
            <div id='option-sort'>
                <div class="input-field col s12">
                    <select>
                        <option value="1">Newest</option>
                        <option value="2">Top Views</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div id='list-post'>
            
            <% @posts.each do |post| %>

                <div id='<%= post.id %>' class="card-panel clearfix">
                    <div class="avatar-post">
                        
                    </div>
                    <div class="post-info">
                        <div class="title-post">
                            <a href="/post/detail/<%= post.id %>"><%= post.title %>   </a>
                              
                        </div>
                        <div class="created-at">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;
                            <%= post.created_at.strftime('%B %d %Y') %>
                        </div>
                        <div class="content-post">
                            <%= post.content %>
                        </div>
                        <div class="tags-post">
                            <% post.tags.each do |tag| %>
                                <div class="sub-tag">
                                    <div class="head-tag">
                                        
                                    </div>
                                    <span class="content-tag">
                                        <%= tag.name_tag %>
                                    </span>
                                </div>
                            <% end %>
                        </div>
                               
                    </div>
                </div>
                
            <% end %>
        </div>

        <div id='nothing' class="card-panel text-center clearfix">
                <h3><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Nothing here</h3>
        </div>

        <div id='load-more' class="text-center">
            <button id='btn-load-more' class="btn" onclick='getListPost()'><span class='glyphicon glyphicon-plus'></span>&nbsp;&nbsp;Load more</button>
        </div>
    </div>

    <!-- column 2-->
    <div class="col-md-4 col-sm-12 col-xs-12 no-padding-sm-size">
        <h4>&nbsp;</h4>
        <div class="card-panel">
            <div id='share-tool' class="text-center">
                
            </div>
        </div>
        
        <div class="card-panel">
            <% @tags.each do |item| %>
                <a href="/post/tag/<%= item.id %>">
                <div class="tags-post">
                    <div class="sub-tag">
                        <div class="head-tag">
                                        
                        </div>
                        <span class="content-tag">
                            <%= item.name_tag %> (<%= item.posts_tag.size %>)
                        </span>
                    </div>
                </div>
                </a>
            <% end %>    
            <span>...</span>
            <div class="margintop-10 text-right">
                <a href="">View all Tags</a>
            </div>
        </div>

        
 
    </div>

    <input type='hidden' id='category' value="<%= @category != nil ? @category.id : '' %>" />
    <input type='hidden' id='searchtext' value="" />
    <input type='hidden' id='tag' value="<%= @tag != nil ? @tag.id : '' %>" />
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        if($('#list-post .card-panel').length == 0) {
            $('#nothing').show();
            $('#load-more, #option-sort').hide();
        }

        // Active Share Plugin  (jsSocials)
        $("#share-tool").jsSocials({
            showLabel: false,
            showCount: false,
            shares: [ "facebook", "googleplus", "linkedin", "twitter"]
        });

        $('.slider').slider({full_width: true});
        $('.carousel').carousel();
    })
</script>