@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(material-font.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
    font-family: 'Open Sans', Verdana, sans-serif;
}



a:hover {
    text-decoration: none;
}

#list-post .card-panel {
    margin-top: 20px;
    position: relative;
    min-height: 150px;
}

#list-post .avatar-post {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;

    background: RED;
    width: 200px;
    min-height: 100%;
    height: 100%;
}

#list-post .post-info {
    margin-left: 205px;
}

#list-post .title-post {
    font-weight: bold;
    font-size: 16px;
    max-height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
}


#list-post .created-at {
    font-size: 14px;
    color: #aaa;
    margin: 10px 0px;
}

.created-at {
    color: #aaa;
}


#list-post .content-post {
    max-height: 3em;
    line-height: 1.5em;
    overflow: hidden;
}

.tags-post {
    margin-top: 20px;
    display: inline-block;
}

#brand-logo {
    max-height: 54px;
    margin: 2px 10px 5px 10px;
}

.sub-tag {
    position: relative;
    display: inline-block;
}

.content-tag {
    background: Yellow;
    padding: 4px;
    margin-left: 8px;

    border-radius: 4px;
}

.head-tag {
    width: 0px;
    height: 0px;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 12px solid yellow;

    position: absolute;
    top: -2px;
    left: -1px;
}

.main-content {
    margin: 0px 20px;
    margin-bottom: 20px;
    min-height: 900px;
}

.select-wrapper .caret {
    display: none;
}

.image-header {
    min-height: 200px;
    margin: 0px -20px;
}

.margintop-10 {
    margin-top: 10px;
}

#option-sort {

}

.msg-error {
    color: RED;
    font-style: italic;
    display: none;
}

.footer-panel {
    padding: 20px;
    min-height: 150px;
    width: 100%;
}

#subscribe-panel {
    background: #1b5e20;
    
}

#nothing {
    display: none;
}

#select-multi-input input[type=text] {
    color: #aaa;

}

#btn-subscribe {
    margin-top: 20px;
    text-transform: capitalize;
    color: white;
}

#btn-load-more {
    text-transform: capitalize;
}

#about-panel {
    background: #232a32;
    color: white;
    float: left;
}

#wrap-cmt {
    position: relative;
}

#modal-report.modal { 
    bottom: auto;
    background-color: #fafafa;
}


#modal-report .modal-content {
    background-color: #fafafa;
    position: auto;
    border-radius: 0px;
    -webkit-box-shadow:initial !important;
    box-shadow: initial !important;
    border: 0px;
}


#list-detail-cmts {
    max-height: 300px;
    overflow: hidden;
}

#collapse {
    height: 50px;
    line-height: 50px;
    background: -webkit-linear-gradient(#aaa, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aaa, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aaa, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #aaa);
    opacity: 0.5;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

#icon-go-top {
    position: fixed;
    bottom: 5px;
    right: 10px;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}

.hover-bright:hover  {
    color: blue;
}

.txt-opacity {
    opacity: 0.5;
}

#about-img-div {
    float: left;
    width: 120px;

}

#about-info-div {
    margin-left: 150px;
}


@media (max-width: 400px) {
    #about-img-div {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #about-info-div {
        margin-left: 0px;
        width: 100%;
    }
}

.div-inline {
    display: inline;
}

#div-create-at {
    float: right;
}

.margin10 {
    margin: 10px;
}

#full-post-content {
    line-height: 2;
    margin-top: 20px;
}

#div-detail-post .tags-post {
    margin-top: 0px;
}


.author-cmt {
    font-weight: bold;
    color: #555;
}

.content-cmt {

}

.comment {
    margin: 15px 0px;
}

.comment-sub {
    margin-left: 60px;
}

.div-sub-cmt {
    margin-top: 10px;
}

.footer-cmt {
    color: #aaa;
    visibility: hidden;
}

.footer-cmt .tool-cmt {
    float: right;
}

.comment:hover .footer-cmt {
    visibility: visible;
}

.icon-social-login {
    width: 30px;
    margin: 0px 10px 10px 0px;
}

.content-cmt textarea {
    padding: 10px;
    resize: none;
}

#icon-login-google {
    cursor: pointer;
}

.gitkit-sign-in-button {

}

.cursor-pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0px;
}

.dark-color {
    color: #aaa;
}

#context-commenting {
    display: none;
}


#owl-example .card {
    margin-left: 5px;
    margin-right: 5px;
}


#owl-example .card-title {
    color: #111;
}

@media (max-width: 768px) {
    #list-post .avatar-post {
        width: 100%;
        margin: 0px;
        min-height: 100px;
        margin-bottom: 10px;
        position: relative;

    }

    #list-post .post-info {
        margin-left: 0px;       
        padding: 10px;
     /*   margin-top: ; */
    }

    #list-post .title-post {
        max-height: 2.4em;
        line-height: 1.2;
        overflow: hidden;
    }

    #list-post .content-post {
        max-height: 6em;
        line-height: 1.5em;
        overflow: hidden;
    }

    #list-post .card-panel {
        padding: 0px;
    }

    .main-content {
        margin: 0px 5px;
    }

    #about-img {

    }

    .no-padding-sm-size {
        padding: 0px;
    }

    #brand-logo {
        max-height: 46px;
        margin: 2px 10px 5px 10px;
    }

    #icon-go-top {
        bottom: 0px;
    }


}