<div>
    <div id='subscribe-panel' class="clearfix footer-panel">
        <div class="col-md-10 col-md-offset-1 no-padding-sm-size">
            <div class='msg-error'>
                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;
                <span id='msg-error-subscriber'></span>
            </div>
            <div class="col-md-3 no-padding-sm-size">
                <div class="input-field">
                    <input id='subscriber_name' type='text'/>
                    <label for='subscriber_name'>Your name</label>    
                </div>
            </div>
            <div class="col-md-3 no-padding-sm-size">
                <div class="input-field">
                    <input id="subscriber_email" type="text" >
                    <label for="subscriber_email">Email</label>
                </div>
            </div>
            <div id='select-multi-input' class="col-md-3 no-padding-sm-size">
                <div class="input-field">
                    <select id='select-topic' multiple>
                        <option value="" disabled selected style="font-color: white;">Choose your topic</option>
                        <option value="1">PHP</option>
                        <option value="2">Python</option>
                        <option value="3">Ruby</option>
                        <option value="4">HTML5, CSS</option>
                        <option value="5">Javascipt</option>
                        <option value="7">Security</option>
                        <option value="6">Tools</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 no-padding-sm-size">
                <button id='btn-subscribe' class="waves-effect btn-flat" onclick="subscribeTopic()">
                    <i class="material-icons left">email</i>
                    Subscribe
                </button>
            </div>
        </div>
    </div>

    <div id='about-panel' class="clearfix footer-panel">
        <div class="col-md-10 col-md-offset-1 no-padding-sm-size">
            <div class="col-md-6">
                <div id='about-img-div' class="col-md-4">
                    <%= image_tag "avatar.jpg", id: "about-img", class: "img-circle", width: "100px" %>    
                </div>
                
                <div id='about-info-div'>
                    <div class='row valign-wrapper'>
                        <i class='material-icons'>person_pin</i>&nbsp;
                        Author: Quy Nguyen Vu 
                    </div>
                    <div class='row valign-wrapper'>
                        <i class='material-icons'>email</i>&nbsp;
                        Email:&nbsp;<a href='mailto: qnvproit@gmail.com'>Qnvproit@gmail.com   </a>
                    </div>
                </div>
            </div> 
            <div class="col-md-6">
                <%= yield :col_2_footer %>
            </div>   

        </div>
        
    </div>
</div>


<div id='icon-go-top' onclick="scrollToTop()">
    <h3><i class="fa fa-angle-double-up"></i></h3>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        $(".dropdown-button").dropdown();

        $(".button-collapse").sideNav();

        // $('.button-collapse').sideNav({
        //     menuWidth: 300, // Default is 240
        //     edge: 'left', // Choose the horizontal origin
        //     closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        // });
        
        $(window).scroll(function() {
            if( $(window).scrollTop() > screen.height ) {
                $('#icon-go-top').show();
            } else {
                $('#icon-go-top').hide();
            }
        })
    })
</script>