<!DOCTYPE html>
<html>
<head>
    <title><%= yield :title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    
    <%= favicon_link_tag "fav.png" %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://www.gstatic.com/authtoolkit/js/gitkit.js"></script>
    <link type="text/css" rel="stylesheet" href="http://www.gstatic.com/authtoolkit/css/gitkit.css" />

    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body>
    <%= render "layouts/partials/nav" %>

    <%= yield %>

    <%= render "layouts/partials/footer" %>
</body>
</html>
